@import "../../../../../assets/styles/variables.scss";

.successfull-save{
    height: 13.9rem;
    padding: 1.5rem;

    &:before{
        content: url('../../../../../assets/img/saved.svg');
    }

    .title{
        font-size: 1.25rem;
        font-weight: bolder;
        margin-bottom: .5rem;
    }
  
    .link{
        width: 9.875rem;
        height: 2.375rem;
    }

    .wraper{
        width: 18.938rem;
    }
}

