@import "../../../../../assets/styles/variables.scss";

.sign_in{
    height: 10.438rem;
    font-size: 1.25rem;
    font-weight: 700;
    
    .primary-link{
        width: 9.875rem;
        height: 2.375rem;
        text-align: center;

        .sign_in-btn,
        .sign_up-btn{
            width: 100%;
            font-size: .875rem;
        }
    }
}