<section class="page__wrapper">
  <div class="container">
    <app-nav></app-nav>
    <!-- <router-outlet></router-outlet> -->

<!-- <app-confirm-account></app-confirm-account> -->
<!-- <app-password></app-password> -->
<!-- <app-sent-instruction></app-sent-instruction> -->
<app-welcome></app-welcome>

    <app-redirect-authorize></app-redirect-authorize>
    <app-leave-round></app-leave-round>
    <app-reset-password></app-reset-password>
    <app-save-score></app-save-score>
    <app-successfull-saved></app-successfull-saved>




  </div>
    <app-footer></app-footer>
</section>
