@import "../../../../../assets/styles/variables.scss";

.password-reset{
    width: 100%;
    min-height: 15rem;


    &_wrapper{
       min-height: 12.8rem;

        .title{
            font-size: 1.125rem;
            text-align: center;
            font-family: 'Roboto Medium';
        }

       .message{        
            font-size: .938rem;
            font-weight: 700;
            text-align: start;
       }

       .primary-link{
            width: 7.188rem;
            height: 2.375rem;
            margin-top: 2rem;
            font-size: .875rem;
            font-family: 'Nunito';
            margin: 2.5rem auto;
        } 
    }

    &_link{
        font-style: normal;
        font-weight: 400;
        font-size: .875rem;
        font-family: 'Roboto Medium';
        line-height: 1.125rem;
       

        @media (max-width:709px) {
            text-align: center; 
        }

        .url{
            color: $blue-color;
        }
    }
}
