.msg-instruction{
    width: 100%;
    height: 68vh;
    margin: auto;
    text-align: center;

    .title{
        margin: 2rem auto;
        font-size: 1.5rem;

        @media (max-width:709px) {
            font-size: 1.125rem;            
        }
    }

    .message{
        font-size: 1rem;

        @media (max-width:709px) {
            font-size: .875rem;            
        }
    }
}